.header-bg {
  background: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--cor-0);
  margin-top: 4px;
  transition: scale .4s;
  scale: 0 1;
  transform-origin: right;
}

.header-menu a:hover:after {
  scale: 1;
  transform-origin: left;
}

.header-menu a.ativo::after {
  scale: 1;
}

@media (max-width: 800px) {
  .header-menu a {
    background: linear-gradient(var(--cor-11
  ), transparent) var(--cor-11);
    padding: 12px 16px;
    border-radius: 8px;
    transition: .4s;
  }

  .header-menu a:hover {
  background-color: var(--cor-10);
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 700px) {
  .header-menu {
    gap: 14px;
  }
  .header {
    justify-content: center;
  }
}